html, body { 
	font: 13px Verdana;
 	width: 100%;
 	height: 100%;
  	display: flex;
  	justify-content: flex-start;
  	align-items: flex-start;
  	background: #73A580;
}

/* Nollställer margin och padding */
* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

main {
  width: 500px;
  padding: 15px;
  background: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}


/**************************/
/*  Textfält och knappar  */
/**************************/

/* Stylar textfält */ 
#textInput {
	width: 100%;
	padding: 10px 15px;
	font-size: 1.5em;
	border: 1px solid grey;
	border-radius: 5px;
}

/* Textfältet får bakgrundsfärg vid fokus */
#textInput:focus {
    background-color: #e3e3e3;
}

/* Stylar spara-knapp */
#saveButton {
    background-color: #ff5b83;
    border: none;
    color: white;
    padding: 8px 17px;
    text-decoration: none;
    margin-top: 5px;
    font-size: 1em;
    border: 1px solid grey;
	border-radius: 5px;
}

/* Stylar radera  */
.trash {
	float: right;
	display: inline-block;
	margin-left: 10px;
	padding: 0;
	cursor: default;
	color: black;
}



/**************************/
/*   Listan               */
/**************************/

/* Tar bort list bullets */
ul {
	list-style-type:none; 
}


/* Ofärdiga uppgifter */
ul#unfinishedTasks > li {
	background: #e3e3e3;
	display: block;
	height: 30px;
	margin-bottom: 3px;
	border: 1px solid #dcdcdc;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 5px 5px 10px;
}

/* Gör varannan färg */
ul#unfinishedTasks > li:nth-child(even) {
    background: white;
}

/* Checkbox padding*/
.checkbox {
	margin-right: 5px;
}


/* Färdiga uppgifter */
ul#finishedTasks > li {
    background: none;
    border: 0;
    color: #fff;
    text-decoration: line-through;
    padding-left: 0;
}

